---
title: Home
heading: 'iRacing'
---

<div class="row">
  <div class="col-md-6">
    <p><img src="/assets/img/header_logo.png"></p>
  </div>
  <div class="col-md-6">
    <div class="class-module class-a">
      <div class="vert-align">
        <img class="class-module__helmet" src="/assets/img/helmet.png">
        <p>Seth Whitaker</p>
        <p>iRating 3494 | A 4.50</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="panel-title pull-left">Race Sign Up</h2>
    <div class="btn-group pull-right">
      <a href="#" class="btn btn-xs btn-success">Race</a>
      <a href="#" class="btn btn-xs btn-default">Test</a>
    </div>
  </div>
  <div class="panel-body race-panels">
    <div class="race-panel">
      <h4 class="race-panel-title">Series</h4>
      <p class="text-center"><img src="/assets/img/series.jpg" alt=""></p>
      <form action="">
        <div class="form-group">
          <select class="form-control input-sm">
            <optgroup label="Eligible Series">
              <option disabled=""></option>
              <option disabled="">Counts Towards Promotion (MPR)</option>
              <option disabled="">• Oval</option>
              <option value="0" disabled="">No matching series</option>
              <option disabled="">• Road</option>
              <option value="0" disabled="">No matching series</option>
              <option disabled=""></option>
              <option disabled="">Does Not Count Towards Promotion</option>
              <option disabled="">• Oval</option>
              <option value="1126">Carburetor Cup</option>
              <option value="1078">NASCAR iRacing Series - Fixed</option>
              <option value="1087">NASCAR iRacing Series - Open</option>
              <option disabled="">• Road</option>
              <option value="1183">13th Week Mazda Cup</option>
              <option value="1190">Road Warrior Series</option>
              <option disabled=""></option>
            </optgroup>
            <optgroup label="Ineligible Series">
              <option disabled="">• Oval</option>
              <option value="1076">NASCAR PEAK Antifreeze Series</option>
              <option disabled="">• Road</option>
              <option value="1077">iWCGPS</option>
            </optgroup>
          </select>
        </div>
      </form>
      <p class="text-center"><small>
        <a href="#">Sessions</a> |
        <a href="#">Schedule</a> |
        <a href="#">Stats</a> |
        <a href="#">Results</a>
      </small></p>
    </div>

    <div class="race-panel">
      <h4 class="race-panel-title">Track</h4>
      <p class="text-center"><img src="/assets/img/track.gif" alt=""></p>
      <p class="text-center">Indianapolis Motor Speedway</p>
      <p class="text-center"><small>80 laps, Rolling start</small></p>
    </div>

    <div class="race-panel">
      <h4 class="race-panel-title">Car</h4>
      <p class="text-center"><img src="/assets/img/car.png" alt=""></p>
      <form action="">
        <div class="form-group">
          <select class="form-control input-sm">
            <option value="#">Chevrolet SS-Gen6</option>
            <option value="#">Ford Fusion-Gen6</option>
            <option value="#">Toyota Camry-Gen6</option>
          </select>
        </div>
      </form>
      <p class="text-center"><small>
        <a href="#">Car Info</a> |
        <a href="#">Paint</a>
      </small></p>
    </div>

    <div class="race-panel">
      <h4 class="race-panel-title">Sessions</h4>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-sm btn-default active">
          <input type="radio" name="options" id="option1" checked>Race
        </label>
        <label class="btn btn-sm btn-default">
          <input type="radio" name="options" id="option2">Qual
        </label>
        <label class="btn btn-sm btn-default">
          <input type="radio" name="options" id="option3">TT
        </label>
        <label class="btn btn-sm btn-default">
          <input type="radio" name="options" id="option3">Pract
        </label>
      </div>
      <a href="#" class="list-group-item list-group-item-success">01:00 GMT  [09:00 pm] <span class="badge">14</span></a>
      <a href="#" class="list-group-item disabled">02:00 GMT  [10:00 pm] <span class="badge">0</span></a>
      <a href="#" class="list-group-item disabled">03:00 GMT  [11:00 pm] <span class="badge">0</span></a>
      <a href="#" class="list-group-item disabled">04:00 GMT  [12:00 pm] <span class="badge">0</span></a>
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-sm btn-success btn-block">Join</a>
        <a href="#" class="btn btn-sm btn-default btn-block">Test</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">July 22, 2014 - New Discount Program</h3>
      </div>
      <img class="panel-hero" src="/assets/img/news.jpg" alt="">
      <div class="panel-body">
        <h4>Interested in a New Car or Track?</h4>
        <p>Take advantage of these great volume discount options!</p>
        <p><strong>10% Bulk Purchase Discount: </strong> Purchase/License any three to five pieces of content (cars/tracks) at once and receive 10% off the total.</p>
        <p><strong>20% Bulk Purchase Discount: </strong> Purchase/License any six or more pieces of content (cars/tracks) at once and receive 20% off the total.</p>
        <p><strong>25% Loyalty Discount: </strong>Purchase/License any 40 pieces of paid content (cars or tracks) and receive a 25% discount from that point forward on future content purchases. In other words, once you own any 40 pieces of paid content, every content purchase after that is automatically discounted by 25%.</p>
        <p><strong>30% Loyalty Discount: </strong>Purchase/License all content or all remaining content and receive 30% off the total. Affectionately known as the 100% club by our members.</p>
        <p>All discounts are automatically calculated at checkout. This offer may not be combined with any other discount or promotion. All discounts are calculated either including or excluding preorders. All of our volume discount programs exclude Tech Tracks.</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">July 15, 2014 - Week 13 is Upon Us!</h3>
      </div>
      <img class="panel-hero" src="/assets/img/news2.jpg" alt="">
      <div class="panel-body">
        <p><strong>NASCAR</strong> and <strong>iRacing.com</strong> are teaming up to make Tuesdays <strong>NASCAR iRacing Night</strong> on <a href="#">FansChoice.tv</a> during the 2015 racing season.  Beginning Tuesday (February 24), race fans will be able to watch the world’s top sim racers in the <strong>NASCAR PEAK Antifreeze Series</strong> Powered by iRacing and the <strong>NASCAR iRacing Class B Series Open</strong>, featuring the same cars and tracks that are used in the NASCAR Xfinity Series, on FansChoice.tv on alternate Tuesdays at 9 pm eastern time.</p>

        <p>“This is a really exciting development,” says <strong>Tony Gardner</strong>, president of iRacing.com.  “With NASCAR iRacing Tuesdays, racing fans can tune-in to FansChoice.tv every Tuesday evening throughout the season, knowing the very best in sim racing will be on tap whether it’s the NASCAR PEAK Antifreeze Series or the NASCAR iRacing Class B Series.”</p>

        <p>NASCAR iRacing Tuesdays kicks-off on <a href="#">FansChoice.tv</a> at <strong>9 pm eastern</strong> on <strong>February 24</strong> with the opening round of the NASCAR PEAK Antifreeze Series at the digital <strong>Daytona International Speedway</strong> and on March 3 with NASCAR iRacing Class B Series Open at the virtual <strong>Las Vegas Motor Speedway</strong>.</p>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Service Status</h3>
      </div>
      <div class="panel-body">
        <h4 class="service-status text-success">Your iRacing Simulation is Up-To-Date</h4>
        <p>You are ready to drive. There are currently no updates available.</p>

        <h4>Forum Announcements</h4>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Posted By</th>
            <th>Last Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Maint (2:00 hrs):19-Feb 1500 UTC [1000 ET]</a></td>
            <td><a href="">Chris Page</a></td>
            <td><div>2015-02-17 12:50p</div></td>
          </tr>
          <tr>
            <td><a href="">Updated Sporting Code</a></td>
            <td><a href="">Shannon Whitmore</a></td>
            <td><div>2015-02-06 1:47p</div></td>
          </tr>
            <tr>
            <td><a href="">Sim Racing page on motorsport.com</a></td>
            <td><a href="">David Phillips</a></td>
            <td><div>2015-02-05 3:24p</div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Helpful Videos</h3>
      </div>
      <div class="panel-body">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/uqsKm8irA7U?list=PLNW4gXU6_ObznDPIqXA-YtdWuBKZRlA2P" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Community Forum Links</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Posted By</th>
            <th>Posted On</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Helpful Links</a></td>
            <td><a href="">John Bodin</a></td>
            <td><div>2015-02-17 12:50p</div></td>
          </tr>
          <tr>
            <td><a href="">Surviving Rookies</a></td>
            <td><a href="">John Bodin</a></td>
            <td><div>2015-02-06 1:47p</div></td>
          </tr>
          <tr>
            <td><a href="">iRating and Safety Ratign Explained</a></td>
            <td><a href="">John Bodin</a></td>
            <td><div>2015-02-05 3:24p</div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Top Paints</h3>
      </div>
      <div class="panel-body">
        <img src="/assets/img/car.png" alt="">
      </div>
    </div>

     <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Special Offers</h3>
      </div>
     <a href="#"><img class="panel-hero" src="/assets/img/gift.png" alt=""></a>
    </div>

  </div>
</div>
