---
component: navbar
---
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{relative page.dest "dist/index.html"}}"><img src="/assets/img/header_logo_small.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- you can exclude pages using \{{#isnt}} helper: \{{#isnt data.title 'Blog'}} -->
       {{!--  {{#each pages}}
        <li{{#if this.isCurrentPage}} class="active"{{/if}}>
          <a href="{{relative dest this.dest}}">{{ data.title }}</a>
        </li>
        {{/each}} --}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-hover="dropdown">Series <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Seasons</li>
            <li><a href="#">Curent Seasons</a></li>
            <li><a href="#">Past Seasons</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Events</li>
            <li><a href="#">Results</a></li>
            <li><a href="#">Watch/Ghost/Crew/Spot</a></li>
            <li><a href="#">Replays</a></li>
            <li><a href="#">Season Calendar</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-hover="dropdown">Hosted <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Races</li>
            <li><a href="">Join a Race</a></li>
            <li><a href="">Host a Race</a></li>
            <li><a href="">Hosted Results</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Tournaments</li>
            <li><a href="">Host a Tournament Race</a></li>
            <li><a href="">Tournament Results</a></li>
          </ul>
        </li>
        <li><a href="#">Leagues</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-hover="dropdown">Cars & Tracks <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Cars</li>
            <li><a href="#">Oval Cars</a></li>
            <li><a href="#">Road Cars</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Tracks</li>
            <li><a href="#">Tracks</a></li>
            <li><a href="#">Tech Tracks</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-hover="dropdown">myRacing <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Racer Profile</li>
            <li><a href="#">myProfile</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Certificates</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Stats</li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Drivers</a></li>
            <li><a href="#">Regional</a></li>
            <li><a href="#">World Records</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Friends</li>
            <li><a href="#">myRacers</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Customize</li>
            <li><a href="#">Customize Car(s)</a></li>
            <li><a href="#">Customize Helmet</a></li>
            <li><a href="#">Customize Suit</a></li>
          </ul>
        </li>
        <li><a href="#">Forum</a></li>
      </ul>
      {{!-- <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span>
          </div><!-- /input-group -->
      </form> --}}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="http://google.com" class="dropdown-toggle" data-hover="dropdown">Account & Support <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Account</li>
            <li><a href=""><span class="glyphicon glyphicon-user"></span> My Account</a></li>
            <li><a href=""><span class="glyphicon glyphicon-credit-card"></span> Account Recharge</a></li>
            <li><a href=""><span class="glyphicon glyphicon-shopping-cart"></span> View Cart</a></li>
            <li><a href=""><span class="glyphicon glyphicon-tags"></span> Promotions</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Support</li>
            <li><a href=""><span class="glyphicon glyphicon-question-sign"></span> Support</a></li>
            <li><a href=""><span class="glyphicon glyphicon-info-sign"></span> FAQs</a></li>
            <li><a href=""><span class="glyphicon glyphicon-exclamation-sign"></span> File Protest</a></li>
            <li><a href=""><span class="glyphicon glyphicon-file"></span> Documents & Tools</a></li>
            <li><a href=""><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
            <li class="divider"></li>
            <li><a href=""><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
